# Banco de Dados Postgres
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# MongoDB
MONGO_ROOT_USER=""
MONGO_ROOT_PASSWORD=""

# Aplicação
DATABASE_URL=""
MONGO_URI=""

# Auth
SECRET_KEY=""
ALGORITHM=""
ACCESS_TOKEN_EXPIRE_MINUTES=""

# Celery / Redis
CELERY_BROKER_URL=""
CELERY_RESULT_BACKEND=""

# ETL
DOWNLOAD_DIR=""
TMP_DIR=""

# Email
MAIL_USERNAME=test@example.com
MAIL_PASSWORD=123456
MAIL_FROM=test@example.com
MAIL_PORT=587
MAIL_SERVER=smtp.example.com
MAIL_STARTTLS=true
MAIL_SSL_TLS=false

DEC_FEC_REALIZADO=""
DEC_FEC_LIMITE=""